.webstore-item
  .box
    = image_tag(product.image)

    %section
      %h4.name= product.name
      .description= simple_format product.description

  %aside.clearfix
    .price= product.price
    = button_to t('webstore.product.order'), product.order_link, class: 'btn btn-process'
