- title('Webstore - Completed Order', false)
= render partial: 'webstore/sidebar'

= render partial: 'webstore/order', locals: { order: order, completed: completed }

= render partial: 'webstore/payment_instructions', locals: { form_object: cart }

- if cart.payment_required?
  .row-fluid.spacer
    #webstore-payment.span12
      .row-fluid
        #payment.span12
          .row-fluid
            .span12.completed-header.important
              %span Total amount due:
              %span.pull-right= cart.amount_due
          .row-fluid
            .span12.text-center.payment-title== Pay by #{completed.payment_title}
          .row-fluid
            .span9.center-row= render partial: "partials/payments/#{cart.payment_method}", locals: { form_object: completed }

.row-fluid
  .span12.text-center
    = link_to 'Back to webstore', webstore_store_path(completed.distributor.parameter_name), class: 'btn btn-process', id: 'webstore'
    = link_to 'My account', customer_root_path, class: 'btn btn-process', id: 'webstore-my-account'

.spacer

