= render partial: 'webstore/sidebar'
= render partial: 'webstore/order', object: order

= render partial: 'webstore/payment_instructions', locals: { form_object: cart }

- if cart.negative_closing_balance? && cart.has_payment_options?
  .row-fluid.spacer
    #webstore-payment.span12
      .row-fluid
        #payment.span12
          .row-fluid
            .span12.completed-header.important
              %span= t('webstore.completed.amount_due')
              %span.pull-right= cart.amount_due
          .row-fluid
            .span12.text-center.payment-title
              = t('websotre.completed.pay_by')
              = completed.payment_title
          .row-fluid
            .span9.center-row= render partial: "partials/payments/#{cart.payment_method}", locals: { form_object: completed }

.row-fluid
  .span12.text-center
    = link_to t('webstore.completed.back_to_webstore'), webstore_store_path(completed.distributor.parameter_name), class: 'btn btn-process', id: 'webstore'
    = link_to t('webstore.completed.my_account'), customer_root_path, class: 'btn btn-process', id: 'webstore-my-account'

.spacer

