- title('Webstore - Delivery Options', false)
= render partial: 'webstore/sidebar'
= render partial: 'webstore/order', object: order

= simple_form_for(delivery_options) do |f|
  #webstore-delivery_service.row-fluid.webstore-section{ style: "display: #{delivery_options.can_change_delivery_service? ? 'block' : 'none'}" }
    .span12
      .row-fluid
        .span12
          %h4 Pick A Delivery Service
      .row-fluid
        .span12
          = f.input :delivery_service, collection: delivery_options.delivery_service_list, selected: delivery_options.existing_delivery_service_id, label: 'Select the one that best services your location', include_blank: false, input_html: { id: 'delivery_service_select', class: 'span12' }
      .row-fluid
        .span12
          - delivery_services.each do |delivery_service|
            .delivery_service-info{ id: "delivery_service-info-#{delivery_service.id}" }= delivery_service.description

  #webstore-schedule.row-fluid{ class: "#{delivery_options.can_change_delivery_service? ? '' : 'webstore-section'}" }
    .span12
      .row-fluid
        .span12
          .row-fluid
            .span12
              %h4 When would you like it?
          = render partial: 'delivery_service', collection: delivery_services, locals: { f: f, form_object: delivery_options }

  - if delivery_options.cart_has_extras?
    #webstore-extras-frequency.row-fluid
      .span12
        .row-fluid
          .span12
            .row-fluid
              .span12
                %h4 What about those extra items?
            .row-fluid
              .span12= f.input :extra_frequency, label: false, collection: delivery_options.extra_frequencies, include_blank: false, input_html: { class: 'span12' }

  .row-fluid.webstore-section
    .span12= f.button :submit, 'Next', class: 'pull-right btn btn-process'
