= render partial: 'webstore/sidebar'
= render partial: 'webstore/order', object: order

= simple_form_for(delivery_options) do |f|
  = f.input :cart_id, as: :hidden

  #webstore-delivery_service.row-fluid.webstore-section{ style: "display: #{delivery_options.can_change_delivery_service? ? 'block' : 'none'}" }
    .span12
      .row-fluid
        .span12
          - if delivery_options.single_delivery_service?
            %h4= t("webstore.delivery_options.#{delivery_options.single_delivery_service.pickup_point ? 'pickup' : 'delivery'}_details")
          - else
            %h4= t 'webstore.delivery_options.pick_delivery_service'
      .row-fluid
        .span12
          - if delivery_options.single_delivery_service?
            = f.input :delivery_service, as: :hidden, input_html: { id: 'delivery_service_select', value: delivery_options.single_delivery_service.id}
            %strong= delivery_options.single_delivery_service.name
          - else
            = f.input :delivery_service, collection: delivery_options.delivery_service_list, selected: delivery_options.existing_delivery_service_id, label: t('webstore.delivery_options.select_best'), include_blank: false, input_html: { id: 'delivery_service_select', class: 'span12' }
      .row-fluid
        .span12
          - delivery_services.each do |delivery_service|
            .delivery_service-info{ id: "delivery_service-info-#{delivery_service.id}" }= delivery_service.instructions

  #webstore-schedule.row-fluid{ class: "#{delivery_options.can_change_delivery_service? ? '' : 'webstore-section'}" }
    .span12
      .row-fluid
        .span12
          .row-fluid
            .span12
              %h4= t 'webstore.delivery_options.when'
          = render partial: 'delivery_service', collection: delivery_services, locals: { f: f, form_object: delivery_options }

  - if delivery_options.cart_has_extras?
    #webstore-extras-frequency.row-fluid
      .span12
        .row-fluid
          .span12
            .row-fluid
              .span12
                %h4= t 'webstore.delivery_options.extra_frequency'
            .row-fluid
              .span12= f.input :extra_frequency, label: false, collection: delivery_options.extra_frequencies, include_blank: false, input_html: { class: 'span12' }

  .row-fluid.webstore-section
    .span12= f.button :submit, t('next'), class: 'pull-right btn btn-process'

