.row-fluid.delivery_service-schedule-inputs{ id: delivery_service.schedule_input_id }
  .span12
    -# = f.input :start_date, label: false, collection: form_object.start_dates(delivery_service), input_html: { class: 'schedule-start-date span12' }, include_blank: false, disabled: true
    -# NOTE: cannot use SimpleForm here, see https://github.com/plataformatec/simple_form/issues/1104
    .control-group.select.required.disabled.webstore_delivery_options_start_date
      .controls
        = select_tag "webstore_delivery_options[start_date]", options_for_select(form_object.start_dates(delivery_service)), class: "select required disabled schedule-start-date span12"

    %h4= t('webstore.delivery_options.repeat_deliery')
    = f.input :frequency, label: false, collection: form_object.order_frequencies, input_html: { class: 'delivery_service-schedule-frequency span12' }, include_blank: false, disabled: true

    = f.simple_fields_for(:days) do |g|
      %table.order-days.table.table-bordered
        %tbody
          - form_object.dates_grid.each_with_index do |week, index|
            %tr
              %td= index.succ.ordinalize
              - week.each do |day, number|
                %td= g.input "#{number}", label: day, input_html: { data: { enabled: delivery_service.runs_on(number) } }, wrapper_html: { id: "day-#{number}" }, as: :boolean, disabled: true
