= render partial: 'payment_instructions', locals: { form_object: cart }

- if cart.negative_closing_balance? && cart.has_payment_options?
  .row-fluid.spacer
    #webstore-payment.span12
      .row-fluid
        #payment.span12
          .row-fluid
            .span12.completed-header.important
              %span= t('completed.amount_due')
              %span.pull-right= cart.amount_due
          .row-fluid
            .span12.text-center.payment-title
              = t('completed.pay_by')
              = completed.payment_title
          .row-fluid
            .span9.center-row= render partial: "payments/#{cart.payment_method}", locals: { form_object: completed }

.row-fluid
  .span12.text-center
    = link_to t('completed.back_to_webstore'), webstore_path(completed.webstore.id), class: 'btn btn-process', id: 'webstore'
    = link_to t('completed.my_account'), customer_dashboard_path, class: 'btn btn-process', id: 'webstore-my-account'

.spacer

