= render partial: 'order', object: order

= simple_form_for(payment_options, url: payment_options_path) do |f|
  = f.input :cart_id, as: :hidden

  #webstore-address.row-fluid.webstore-section
    .span12
      - show_address_form = !payment_options.address_complete? || payment_options.pickup_point?

      #existing-address.row-fluid{ :class => ("hide" if show_address_form) }
        .span12
          .row-fluid
            .span12
              %h4= t 'payment_options.deliver_to'
          .row-fluid
            .span12
              = payment_options.address.to_s('<br>')
              %br
            = link_to t('payment_options.change_delivery_address'), 'javascript:void(0)', id: 'edit-address'
      #update-address.row-fluid{ :class => ("hide" unless show_address_form) }
        .span12
          .row-fluid
            .span12
              %h4= t 'payment_options.name'
          .row-fluid
            .span12= f.input :name, label: false, placeholder: t('payment_options.enter_name'), required: true, input_html: { class: 'span12' }

          - if payment_options.collect_phone
            .row-fluid
              .span12
                %h4= t 'payment_options.phone'
            .row-fluid
              .span9= f.input :phone_number, label: false, placeholder: t('payment_options.enter_phone'), required: payment_options.require_phone, input_html: { class: 'span12', value: payment_options.default_phone_number }
              .span3= f.input :phone_type, collection: payment_options.phone_types, label: false, required: payment_options.require_phone, include_blank: false, prompt: "", selected: payment_options.default_phone_type, input_html: { class: 'span12' }

          - unless payment_options.pickup_point?
            .row-fluid
              .span12
                %h4= t 'payment_options.deliver_to'
            .row-fluid
              .span12
                = f.input :address_1, label: false, placeholder: t('payment_options.address.address_1'), input_html: { class: 'span12', required: payment_options.require_address_1 }
                = f.input :address_2, label: false, placeholder: t('payment_options.address.address_2'), input_html: { class: 'span12', required: payment_options.require_address_2 }
                = f.input :suburb, label: false, placeholder: t('payment_options.address.suburb'), input_html: { class: 'span12', required: payment_options.require_suburb }
            .row-fluid
              .span9= f.input :city, label: false, placeholder: t('payment_options.address.city'), input_html: { class: 'span12' }, wrapper_html: { id: 'city', required: payment_options.require_city }
              .span3= f.input :postcode, label: false, placeholder: t('payment_options.address.postcode'), input_html: { class: 'span12', required: payment_options.require_postcode }, wrapper_html: { id: 'postal_code' }

            - if payment_options.collect_delivery_note
              .row-fluid
                .span12
                  %h4= t('payment_options.address.delivery_note')
              .row-fluid
                .span12
                  = f.input :delivery_note, as: :text, label: false, placeholder: t('payment_options.address.placeholders.delivery_note'), input_html: { class: 'span12', rows: 3, required: payment_options.require_delivery_note }

  - if cart.has_payment_options?
    - if payment_options.existing_customer?
      .row-fluid.webstore-section
        = render partial: 'payment_instructions', locals: { form_object: cart }

    .row-fluid.webstore-section
      #webstore-payment.span12
        .row-fluid
          #amount-due.span12.completed-header
            .row-fluid.important
              - if cart.negative_closing_balance?
                .span10= t 'payment_options.amount_due'
                .span2.text-right.total_price
                  = cart.amount_due
              - else
                .span10= t 'payment_options.in_credit'

        .row-fluid
          #payment-options.span12
            - if cart.negative_closing_balance?
              .row-fluid
                .form-horizontal.span6.center-row
                  = f.input :payment_method, as: :radio_buttons, collection: cart.payment_list, checked: payment_options.payment_method, label: t('payment_options.pay_by') << t('colon'), label_html: { class: 'emphasised-label' }
            - else
              .span12.text-center= t 'payment_options.no_payment'
              = f.input :payment_method, as: :hidden, input_html: { value: PaymentOptions::PAID }

  .row-fluid
    .span12.text-center
      = f.input :complete, as: :hidden, input_html: { value: true }
      = f.button :submit, t('payment_options.complete_order'), class: 'btn btn-process'

