- if order.for_halted_customer?
  .alert.alert-error
    = t 'webstore.halted_customer'

.row-fluid
  #current-order.span12
    .row-fluid
      .span12.completed-header.important
        = t 'webstore.order.summary'

    .row-fluid{style: "margin-top: 1em"}
      .span12
        .section-info-background

        = image_tag(order.product_image)

        %table.section-info
          %tbody
            %tr#description
              %td.description
                %h1= order.product_name
                = simple_format(order.product_description)
              %td.price= order.product_price

            - if order.has_exclusions?
              %tr#customisation
                %td.description
                  %h2= t('webstore.order.exclude_and_substitute')
                  %table.sub-section-info
                    %tr
                      %td.icon
                        %i.icon-minus-sign
                      %td{ title: order.exclusions }= order.exclusions

                    - if order.has_substitutions?
                      %tr
                        %td.icon
                          %i.icon-plus-sign
                        %td{ title: order.substitutions }= order.substitutions
                %td.price

            - if order.has_extras?
              %tr#extras
                %td.description
                  %h2= t 'webstore.order.extras'
                  %table.sub-section-info
                    - order.extras.each do |extra|
                      %tr
                        %td.icon
                          %i.icon-plus
                        %td= extra.with_unit
                        %td.quantity
                          %span.label= order.extra_quantity(extra)
                %td.price= order.extras_price

            - if order.is_scheduled?
              %tr#delivery_service
                %td.description
                  %h2= t('delivery_service')
                  = order.schedule
                  %br
                  - if order.pickup_point?
                    = order.delivery_service_name
                  - else
                    = order.customer.address.join('<br>')
                %td.price= order.delivery_service_fee

            - if order.has_discount?
              %tr#discount
                %td.description
                  %h2= t 'webstore.order.discount'
                %td.price= order.discount

            %tr#total
              %td.description
                %h1= t 'webstore.order.total'
              %td.price
                %span= order.total
