#webstore-payment-instructions
  .row-fluid
    .span12.completed-header.important= t 'webstore.payment_instructions.account_details'
  .row-fluid
    .span10.legend
      .row-fluid= t 'webstore.payment_instructions.existing_balance'
      .row-fluid= t 'webstore.payment_instructions.this_order'
      .row-fluid= t 'webstore.payment_instructions.closing_balance'
    .span2.prices
      .text-right= form_object.current_balance
      .text-right= form_object.order_price
      .text-right
        %span.total= form_object.closing_balance

