.row.route-schedule-inputs{ id: "route-schedule-inputs-#{route.id}" }
  .twelve.columns
    = g.input :start_date, label: false, collection: route_delivery_dates(route), include_blank: false, disabled: true, input_html: { class: 'schedule-start-date' }
    = g.input :frequency, label: false, collection: frequencies, include_blank: false, disabled: true, input_html: { class: 'route-schedule-frequency' }
    .order-days
      - days.each do |name, number|
        = g.input "days[#{name}]", label: name[0..2].to_s.titleize, as: :boolean, disabled: true, input_html: { value: number, data: { enabled: route.runs_on(number) } }, wrapper_html: { id: "day-#{number}" }
