.row-fluid.route-schedule-inputs{ id: "route-schedule-inputs-#{route.id}" }
  .span12
    = g.input :start_date, label: false, collection: order_start_dates(route), input_html: { class: 'schedule-start-date span12' }, include_blank: false, disabled: true

    %h4 Repeat delivery?
    = g.input :frequency, label: false, collection: frequencies, input_html: { class: 'route-schedule-frequency span12' }, include_blank: false, disabled: true

    %table.order-days.table.table-bordered
      %tbody
        - days.each_with_index do |week, index|
          %tr
            %td #{index.succ.ordinalize}
            - week.each do |day, number|
              %td
                - input_name = "days[#{number}]"
                - wrapper_id = "day-#{number}"
                = g.input input_name, label: day, input_html: { data: { enabled: route.runs_on(number) } }, wrapper_html: { id: wrapper_id }, as: :boolean, disabled: true
