- content_for :sidebar do
  - if @distributor.company_team_image?
    .row-fluid
      = image_tag(@distributor.company_team_image.photo.url, class: 'img-polaroid span12')

  .row-fluid
    .span12
      %h1#distributor-name= @distributor.name
      .webstore-information-section
        %h4= @distributor.city

      - unless @distributor.sidebar_description.blank?
        .webstore-information-section
          = simple_format(@distributor.sidebar_description)

      .webstore-information-section
        - unless @distributor.facebook_url.blank?
          .row-fluid.facebook
            = link_to @distributor.facebook_url, id: 'facebook-link' do
              .span2
                %i.facebook-icon
              .span10
                %div Find us on Facebook
        - unless @distributor.phone.blank?
          .row-fluid.phone
            .span2
              %i.phone-icon
            .span10
              %div= @distributor.phone
