- title('Webstore - Delivery Options', false)
= render 'webstore_sidebar'

- if current_customer.present? && current_customer.halted?
  .alert.alert-error
    Your account is under the minimum balance and will not recieve new orders unless payment is cleared before the packing date.

= render partial: 'order', object: order

= simple_form_for(delivery_options) do |f|
  #webstore-route.row-fluid.webstore-section{ style: "display: #{delivery_options.can_change_route? ? 'block' : 'none'}" }
    .span12
      .row-fluid
        .span12
          %h4 Pick A Delivery Service
      .row-fluid
        .span12
          = f.input :route, collection: delivery_options.route_list, selected: delivery_options.existing_route_id, label: 'Select the one that best services your location', include_blank: false, input_html: { id: 'route_select', class: 'span12' }
      .row-fluid
        .span12
          - delivery_options.routes.each do |route|
            .route-info{ id: "route-info-#{route.id}" }= route.description

  #webstore-schedule.row-fluid{ class: "#{delivery_options.can_change_route? ? '' : 'webstore-section'}" }
    .span12
      .row-fluid
        .span12
          .row-fluid
            .span12
              %h4 When would you like it?
          = render partial: 'route', collection: delivery_options.routes, locals: { f: f, delivery_options: delivery_options }

  - if delivery_options.cart_has_extras?
    #webstore-extras-frequency.row-fluid
      .span12
        .row-fluid
          .span12
            .row-fluid
              .span12
                %h4 What about those extra items?
            .row-fluid
              .span12= f.input :extra_frequency, label: false, collection: delivery_options.extra_frequencies, include_blank: false, input_html: { class: 'span12' }

  .row-fluid.webstore-section
    .span12= f.button :submit, 'Next', class: 'pull-right btn btn-process'
