- title 'Market', false

%ul.block-grid.four-up
  - @boxes.each do |box|
    %li
      .row
        .twelve.columns= image_tag(box.box_image.url)
      .row
        %table.twelve.columns{style:'height: 300px;'}
          %tbody
            %tr
              %td Name:
              %td= box.name
            %tr 
              %td Price:
              %td= box.price.format
            %tr
              %td Likes:
              %td= checkmark_boolean(box.likes)
            %tr
              %td Dislikes:
              %td= checkmark_boolean(box.dislikes)
            %tr
              %td Description
              %td= box.description
      .row
        .twelve.columns
          = button_to 'Buy', webstore_buy_path(@distributor.parameter_name, box), method: :get, class: 'button radius'

