= render partial: 'order', object: order

= simple_form_for(authentication, url: authentication_path) do |f|
  = f.input :cart_id, as: :hidden

  #webstore-login.row-fluid.webstore-section
    .span12
      .row-fluid
        .ten.columns= f.input :email, label: t('authentication.enter_email'), input_html: { class: 'span12' }
      #registered.row-fluid
        .ten.columns= f.input :registered, label: false, collection: authentication.options, as: :radio_buttons
      #password-field.row-fluid
        .ten.columns= f.input :password, label: t('authentication.enter_password'), as: :password, input_html: { class: 'span12' }
        .row-fluid
          .ten.columns
            %i.icon-lock
            = link_to t('password_forgotten?'), "https://my.buckybox.com/customers/password/new?distributor=#{authentication.webstore_id}", target: '_blank'

  .row-fluid.webstore-section
    .span12= f.button :submit, t('next'), class: 'pull-right btn btn-process'
