- title('Webstore - Address and Payment', false)
= render partial: 'webstore/sidebar'
= render partial: 'webstore/order', object: order

= simple_form_for(payment_options) do |f|
  #webstore-address.row-fluid.webstore-section{ data: { 'has-address' => "#{payment_options.existing_customer? ? 'true' : 'false'}" } }
    .span12
      #existing-address.row-fluid
        .span12
          .row-fluid
            .span12
              %h4 Deliver to:
          .row-fluid
            .span12
              = payment_options.address.join('<br>') if payment_options.existing_customer?
              %br
              = link_to 'Change my delivery address', '#', id: 'edit-address'
      #update-address.row-fluid
        .span12
          .row-fluid
            .span12
              %h4 Your name
          .row-fluid
            .span12= f.input :name, label: false, placeholder: 'Enter your name', input_html: { class: 'span12' }
          - if payment_options.collect_phone?
            .row-fluid
              .span12
                %h4 Your phone number
            .row-fluid
              .span9= f.input :phone_number, label: false, placeholder: 'Enter your phone number', input_html: { class: 'span12' }
              .span3= f.input :phone_type, collection: payment_options.phone_types, label: false, input_html: { class: 'span12' }
          .row-fluid
            .span12
              %h4 Deliver to
          .row-fluid
            .span12
              = f.input :street_address, label: false, placeholder: 'Street', input_html: { class: 'span12' }, required: payment_options.require_address_1
              = f.input :street_address_2, label: false, placeholder: 'Street', label: false, input_html: { class: 'span12' }, required: payment_options.require_address_2
              = f.input :suburb, label: false, placeholder: 'Suburb', input_html: { class: 'span12' }, required: payment_options.require_suburb
          .row-fluid
            .span9= f.input :city, label: false, placeholder: 'City', input_html: { class: 'span12' }, wrapper_html: { id: 'city' }, required: payment_options.require_city
            .span3= f.input :postcode, label: false, placeholder: 'Postcode', input_html: { class: 'span12' }, wrapper_html: { id: 'postal_code' }, required: payment_options.require_postcode

          .row-fluid
            .span12
              %h4 Delivery note
          .row-fluid
            .span12
              = f.input :delivery_note, as: :text, label: false, placeholder: 'e.g. Place on back porch', input_html: { class: 'span12', rows: 3 }

  - if payment_options.existing_customer?
    .row-fluid.webstore-section
      = render partial: 'webstore/payment_instructions', locals: { form_object: cart }

  .row-fluid.webstore-section
    #webstore-payment.span12
      .row-fluid
        #amount-due.span12
          .row-fluid.important
            - if cart.payment_required?
              .span10 Total amount due
              .span2.text-right.total_price
                = order.total
            - else
              .span10 Your account is in credit

      - if payment_options.only_one_payment_option?
        = f.input :payment_method, as: :hidden
      - else
        .row-fluid
          #payment-options.span12
            - if cart.payment_required?
              = render partial: 'payment_methods', locals: { f: f, form_object: payment_options }
            - else
              .span12.text-center No payment necessary
              = f.input :payment_method, as: :hidden

  .row-fluid
    .span12.text-center
      = f.input :complete, as: :hidden, input_html: { value: true }
      = f.button :submit, 'Complete Order', class: 'btn btn-process'
