= render partial: 'webstore/sidebar'
= render partial: 'webstore/order', object: order

= simple_form_for(authentication) do |f|
  = f.input :cart_id, as: :hidden

  #webstore-login.row-fluid.webstore-section
    .span12
      .row-fluid
        .ten.columns= f.input :email, label: t('webstore.authentication.enter_email'), input_html: { class: 'span12' }
      #registered.row-fluid
        .ten.columns= f.input :registered, label: false, collection: authentication.options, as: :radio_buttons
      #password-field.row-fluid
        .ten.columns= f.input :password, label: t('webstore.authentication.enter_password'), as: :password, input_html: { class: 'span12' }
        .row-fluid
          .ten.columns
            %i.icon-lock
            = link_to t('password_forgotten?'), new_customer_password_path(distributor: authentication.distributor_parameter_name), target: '_blank'

  .row-fluid.webstore-section
    .span12= f.button :submit, t('next'), class: 'pull-right btn btn-process'
