!!! 5

%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %title Find locally sourced food, CSA Box Schemes powered by Bucky Box

    = stylesheet_link_tag "map"
    = favicon_link_tag "/favicon.ico"

    = render partial: "layouts/bugsnag"
    = render partial: "layouts/google_analytics", locals: { ga_tracking_id: "UA-21417656-11" }
    = render partial: "layouts/pingdom"

  %body
    %div.lightbox{ tabindex: -1, role: "dialog", "aria-hidden": true }
      .wrapper
        .content
          %h1
            = image_tag "map-marker-icon.png", alt: ""
            Find locally sourced food

        .content
          %ul
            %li.fade-in box schemes
            %li.fade-in community supported agriculture
            %li.fade-in food co-ops
            %li.fade-in recipe bags
            %li.fade-in raw milk

      %footer.fade-in.invisible
        This is a map of web stores powered by
        = link_to("Bucky Box", "http://www.buckybox.com", target: "_blank") + ","
        %strong an ordering system for local food organisations
        %span> .

      %div.close
        = image_tag "close-icon.png", alt: "close"

    %div#map{ style: "min-height: 100%" }
    = javascript_include_tag "map"

