!!! 5

%html
  %head
    %meta{ charset: 'utf-8' }
    -# <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' /> # FIXME: do we need that for mobiles?

    %title Find locally sourced food, Box Schemes powered by Bucky Box

    = stylesheet_link_tag 'map'
    = favicon_link_tag '/favicon.ico'

    :css
      html, body { margin: 0; padding: 0; height: 100%; }
      #map { min-height: 100%; }

  %body
    %div.lightbox{ tabindex: -1, role: "dialog", "aria-hidden": true }
      .content
        %h1
          = image_tag "marker-icon.png", alt: ""
          Find locally sourced food

      .content
        %ul
          %li box schemes
          %li community supported agricultures
          %li food co-oops
          %li recipe bags
          %li raw milk

      %footer
        This is a map of web stores powered by
        = link_to("Bucky Box", "http://www.buckybox.com", target: "_blank") + ","
        %strong an ordering system for local food organisations
        %span> .

    %div#map
    = javascript_include_tag 'map'
