.webstore-item
  .box
    = image_tag(product.box.images.webstore)

    %section
      %h4.name= product.name
      .description= simple_format product.description

  %aside.clearfix
    .price= product.price
    = link_to t('product.order'), product.order_link, class: 'btn btn-process'
