!!! 5

%html
  %head
    = render partial: "layouts/common_head"

    %title Bucky Box - #{t('web_store', webstore: current_webstore.name)}

    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = render partial: 'layouts/google_analytics'
    = render partial: 'layouts/i18n'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true

  %body
    = render partial: 'layouts/banner'

    .container
      #customer-messages= render_flash_messages(flash)

      .row
        #content-information.span3
          #information
            = render partial: 'sidebar'
        #content-body.span9
          .row-fluid
            .span12= yield

