!!! 5

%html
  %head
    = raw analytical.head_prepend_javascript
    %meta{ charset: 'utf-8' }

    %title Bucky Box - #{t('web_store', webstore: current_webstore.name)}

    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag '/favicon.ico'

    :javascript
      // custom JS I18n helper - works like Rails' one
      I18n = {}

      I18n.translations = #{I18n.t('javascript').to_json};

      I18n.t = function(key) {
        var current_scope = I18n.translations;
        $.each(key.split("."), function(i, key_part) {
          current_scope = current_scope[key_part];
            if (current_scope == undefined) {
              return false;
            }
        });
        return current_scope || "missing translation: #{I18n.locale}.javascript." + key;
      };

    / Analytics
    - analytical.identify(current_webstore.id, email: current_webstore.email) if current_webstore
    = raw analytical.head_append_javascript

    = render partial: 'layouts/pingdom'

  %body
    = raw analytical.body_prepend_javascript

    = render partial: 'layouts/banner'

    .container
      #customer-messages= render_flash_messages(flash)

      .row
        #content-information.span3
          #information
            = render partial: 'sidebar'
        #content-body.span9
          .row-fluid
            .span12= yield

    = raw analytical.body_append_javascript

